<div class="head-text">
  <h1>Özet Bilgiler</h1>
</div>

<div class="container-fluid">
  <div class="navbar">
    <label style="padding: 10px;">İstasyon: </label>
    <select class="form-select form-select-sm" style="width: 300px;">
      <option>Vadim Petrol Ltd Şti</option>
      </select>
  </div>
  <table class="status-table">
    <thead>
      <tr>
        <td>Blokaj Durumu:</td>
        <td>Bekleyen Talep:</td>
        <td>Toplam Limit:</td>
        <td>Toplam Borç:</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="color: #68C39F;">BLOKAJI YOK</td>
        <td>-₺1.577.286,66</td>
        <td>₺45.000.000,00</td>
        <td>₺43.168.506,43</td>
      </tr>
    </tbody>
  </table>
  
  <figure class="highcharts-figure">
    <div id="pie-chart"></div>
    
    <div class="pie-chart-table">
      <table>
        <tr class="text">Günü Geçen</tr>
        <tr>₺0,00</tr>
        <hr>
        <tr class="text">Bugün</tr>
        <tr>₺967.763,54</tr>
        <hr>
        <tr class="text">Gelecek</tr>
        <tr>₺42.200.742,89</tr>
        <hr>
      </table>
    </div>

    <div id="second-pie-chart"></div>
    <div class="pie-chart-table">
      <table>
        <tr class="text">Toplam Risk</tr>
        <tr>₺41.591.219,77</tr>
        <hr>
        <tr class="text">Toplam Limit</tr>
        <tr>₺45.000.000,00</tr>
        <hr>
        <tr class="text">Limit Durumu</tr>
        <tr>₺3.408.780,23</tr>
        <hr>
      </table>
    </div>
    <div id="sliders">
    </div>
  </figure>

  <div id="pie-chart-square" class="pie-chart-square" *ngFor="let datas of data">
    <div class="shape" [ngStyle]="{'background-color': datas.color}">
    </div>
    <td>{{datas.label}}</td>
    <td style="padding-left: 30px;">{{datas.data}}</td>
  </div>


<div class="square">
  <div id="pie-chart-square" class="pie-chart-square" *ngFor="let datas of data2">
    <div class="shape" [ngStyle]="{'background-color': datas.color}">
    </div>
    <td>{{datas.label}}</td>
    <td style="padding-left: 30px;">{{datas.data}}</td>
  </div>
</div>

